/**
* @package OS Touch Slider.
* @copyright 2020 OrdaSoft.
* @author 2020 Andrey Kvasnevskiy(akbet@mail.ru),Roman Akoev(akoevroman@gmail.com),Sergey Buchastiy(buchastiy1989@gmail.com).
* @link http://ordasoft.com/os-touch-slider-joomla-responsive-slideshow
* @license GNU General Public License version 2 or later;
* @description OrdaSoft Responsive Touch Slider.
*/

/*--------------------------------dragable-block------------------------*/
[id^=dragable-settings-block] {
    position: absolute;
    top: 115px;
    left: 115px;
    opacity: 0.6;
    cursor: move;
    width: 350px;
    font-family: 'Cantarell', sans-serif;
    -webkit-box-shadow: 2px -1px 5px 0px rgba(138,138,138,1);
-moz-box-shadow: 2px -1px 5px 0px rgba(138,138,138,1);
box-shadow: 2px -1px 5px 0px rgba(138,138,138,1);
}

[id^=dragable-settings-block]:hover {
    opacity: 1;
}
[id^=os-tabs] input {
    color: #444;
}
[id^=os-tabs] input[type="number"] {
    width: 90px;
    margin: 5px 0;
    padding: 0 5px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Cantarell', sans-serif;
    min-height: 28px;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border: 1px solid #D3DADD;
}

[id^=os-tabs] input.time-input {
    width: 136px;
}
/*--------------------------os-show-settings-button------------------------------*/
[id^=os-show-settings-button] {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 999;
    padding: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    background: #fff;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
[id^=os-show-settings-button] a i {
    color: #fff;
    padding: 10px;
    background: #565D65;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}
[id^=os-show-settings-button] a i:hover {
    background: #2E343B;
    cursor: pointer;
}
div[id^="os-slider"]:hover [id^=os-show-settings-button] {
    opacity: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
div[id^="os-slider"] *{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
/*---------------------------------------TAB-----------------------------------*/
 [id^=os-tabs] input[type=radio],
 [id^=os-text-tabs] input[type=radio] {
    visibility: hidden;
    position: absolute;
}
[id^=os-tabs] {
    width: 350px;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0 auto !important;
}
[id^=os-text-tabs] {
    width: 100%;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0 auto;
}
[id^=os-tabs] .slider-settings .tab-label {
    border-right: 1px solid #444B54;
    border-top: 1px solid #444B54;
}
[id^=os-text-tabs] .text-settings .text-label {
    border-right: 1px solid #fff;
}
[id^=os-text-tabs] .text-settings:last-child .text-label {
    border-right: none;
}
[id^=os-text-tabs] .text-settings:last-child [id^=text-label ] {
    padding: 8px 2px;
    font-size: 13px;
}
[id^=os-tabs] .slider-settings:first-child .tab-label {
    padding: 10px 10px;
}
[id^=os-tabs] .slider-settings:last-child .tab-label {
    border-right: none;
}

[id^=dragable-settings-block] .tab-content,
[id^=dragable-settings-block] .tab-text-content {
    background: #E7EBEE;
     z-index: 2;
    display: none;
    text-align: left;
    width: 100%;
    font-size: 20px;
    line-height: 140%;
    padding: 15px;
    color: white;
    position: absolute;
    top: 53px;
    left: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(138,138,138,1);
    -moz-box-shadow: 1px 0px 5px 0px rgba(138,138,138,1);
    box-shadow: 1px 0px 5px 0px rgba(138,138,138,1);
}
[id^=dragable-settings-block] .tab-text-content,
[id^=dragable-settings-block] [id^=tab-content2],
[id^=dragable-settings-block] [id^=tab-content3],
[id^=dragable-settings-block] [id^=tab-content4] {
    padding: 0;
}

[id^=dragable-settings-block] .tab-text-content  {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
[id^=tab-content2] {
    padding: 15px 0 15px 0;
}
[id^=os-tabs] .slider-settings {
    float: left;
    width: 25%;
    margin: 0 !important;
    padding: 0 !important;
}
[id^=os-text-tabs] .text-settings {
    float: left;
    width: 25%;
    padding: 0 !important;
    margin: 0 !important;
}

[id^=os-tabs] .slider-settings .tab-label {
    display: block;
    padding: 10px 6px;
    border-radius: 0;
    color: #89939D;
    background: #2E343B;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Asap', sans-serif;
    cursor: pointer;
    position: relative;
    top: -5px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
[id^=os-text-tabs] .text-settings .text-label  {
    display: block;
    padding: 5px;
    border-radius: 0;
    background: #3A8BDF;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Asap', sans-serif;
    cursor: pointer;
    position: relative;
    top: 15px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
[id^=os-tabs] .slider-settings .tab-label i, 
[id^=os-text-tabs] .text-settings .text-label i {
  margin: 5px 4px;
  color:#fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[id^=os-tabs] .tab-label:hover {
    background: #444B54;
    color: #89939D;
}
[id^=os-tabs] [id^=tab]:checked +.tab-label {
    background: #565D65;
    color: white;
}
[id^=os-text-tabs] [id^=tab-text]:checked +.text-label  {
    background: #565D65;
    color: #fff;
}
[id^=os-tabs] [id^=tab]:checked +.tab-label i,
[id^=os-text-tabs] [id^=tab-text]:checked +.text-label i {
    color: #3A8BDF;
}

[id^=tab]:checked ~ [id^=tab-content],
[id^=tab-text]:checked ~ [id^=tab-text-content] {
    display: block;
}
[id^=tab]:checked ~ [id^=tab-content] {
    overflow-y: scroll;
}
[id^=tab]:checked ~ [id^=tab-content2],
[id^=tab]:checked ~ [id^=tab-content3],
[id^=tab]:checked ~ [id^=tab-content4] {
    overflow-y: visible;
}
[id^=os-text-tabs] [id^=tab-text]+.text-label .tab-text-content {
     -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
[id^=os-text-tabs] [id^=tab-text]:checked+.text-label .tab-text-content {
     -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
[id^=os-text-tabs] [id^=tab-text]:checked+#text-label1 {
    margin-bottom: 195px;
}
[id^=os-text-tabs] [id^=tab-text]:checked+#text-label2 {
    margin-bottom: 235px;
}
[id^=os-text-tabs] [id^=tab-text]:checked+#text-label3 {
    margin-bottom: 388px;
}
[id^=tab-content1] [id^=tab-text-content3] .padding-block label {
    width: 100%;
}
[id^=os-tabs] [id^=tab-content1] [id^=tab-text-content3] .padding-block input[type="number"] {
    width: 59px;
}
[id^=os-tabs] [id^=tab-content1] [id^=tab-text-content3] .text-block input.text-custom-class {
    width: 90px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: none;
    border: 1px solid #D3DADD;
    padding: 4px;
    margin: 8px 0;
    min-height: 16px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Cantarell', sans-serif;
}
/*--------------------------options style------------------------------*/
[id^=dragable-settings-block] .option-block {
    border-bottom: 1px solid #D3DADD;
    padding: 0 15px;
    clear: both;
}
[id^=dragable-settings-block] .option-block .option,
[id^=dragable-settings-block] .option-block .option-title {
    display: inline-block;
}
[id^=dragable-settings-block] .option-block .option {
    width: 50%;
    clear: both;
}

[id^=dragable-settings-block] .option-text-block{
    border: none;
    border-top: 1px solid #D3DADD;
}

[id^=dragable-settings-block] .crop-block .option,
[id^=dragable-settings-block] .object-fit-block .option,
[id^=dragable-settings-block] .pagination-block .option,
[id^=dragable-settings-block] .option-text-block .option {
    width: 70%;
    clear: both;
}
[id^=tab-content2] .crop-block .option,
[id^=tab-content2] .object-fit-block .option,
[id^=tab-content4] .pagination-block .option{
    width: 70%;
    clear: both;
}

[id^=tab-content1] .option-text-block .option {
    width: 100%;
    clear: both;
}


[id^=tab-content2] .crop-block .option .checkbox-block,
[id^=tab-content2] .object-fit-block .option .checkbox-block,
[id^=tab-content1] .option-text-block .option .checkbox-block,
[id^=tab-content4] .pagination-block .option .checkbox-block {
    width: 100%;
}
[id^=tab-content2] .crop-block .option-title,
[id^=tab-content2] .object-fit-block .option-title,
[id^=tab-content1] .option-text-block .option-title,
[id^=tab-content4] .pagination-block .option-title{
    width: 30%;
}

[id^=tab-content3] .selected-layout {
    padding: 15px;
    border-bottom: none;
}
[id^=tab-content3] .selected-layout .option {
    width: 70%;
}
[id^=tab-content3] .selected-layout .option .slider-effect {
    border-radius: 0;
    height: 30px;
    margin: 0;
    border: 1px solid #D3DADD;
    font-family: 'Cantarell', sans-serif;
    font-size: 14px;
    color: #2E343B!important;
}
[id^=tab-content3] .selected-layout .option .slider-effect:focus {
   outline: none;
}

[id^=tab-content3] .selected-layout .active-result {
    border-radius: 0;
    height: auto;
    margin: 0;
    border: 1px solid #D3DADD;
    font-family: 'Cantarell', sans-serif;
    font-size: 14px;
    color: #2E343B!important;
}
[id^=tab-content3] .selected-layout .active-result:focus {
   outline: none;
}

[id^=dragable-settings-block] .os-checkbox {
    width: 100px;
    height: 25px;
    overflow: hidden;
}
[id^=dragable-settings-block] .option-block .option-title {
    width: 50%;
    float: left;
    font-size: 14px;
    color: #2E343B;
    font-family: 'Cantarell', sans-serif;
    padding: 4px 0;
}


[id^=dragable-settings-block] .option-title-animate {
    /*width: 50%;*/
    float: left;
    font-size: 16px;
    color: #2E343B;
    font-family: 'Cantarell', sans-serif;
    padding: 4px 0;
}


[id^=tab-content2] .crop-block .option-title,
[id^=tab-content2] .object-fit-block .option-title,
[id^=tab-content1] .option-text-block .option-title,
[id^=tab-content3] .selected-layout .option-title,
[id^=tab-content4] .pagination-block .option-title {
    width: 30%;
    padding: 0;
}

/*------------------text-block------------------------*/
[id^=tab-content1] .back-image-edit,
[id^=tab-content1] .add-image-text,
[id^=tab-content1] .paste-image-text,
[id^=tab-content1] .cancel-text-editor,
[id^=tab-content1] .save-text-editor {
    padding: 5px 15px;
    background: #3A8BDF;
    color: #fff !important;
    font-size: 17px;
    line-height: 17px;
}
[id^=tab-content1] .back-image-edit:hover,
[id^=tab-content1] .add-image-text:hover,
[id^=tab-content1] .paste-image-text:hover,
[id^=tab-content1] .cancel-text-editor:hover,
[id^=tab-content1] .save-text-editor:hover {
    background: #444B54;
    color: #3A8BDF;
    text-decoration: none;
    cursor: pointer;
}
[id^=tab-content1] {
    padding: 15px;
    height: 350px;
}

[id^=tab-content1] .add-text {
    text-align: center;
    border-top: none !important;
}
[id^=tab-content1] .text-editor-block {
    padding: 10px 0;
    margin: 10px 0 0 0;
    border-top: 1px solid #D3DADD;
}
[id^=tab-content1] .text-editor-block .cancel-text-editor,
[id^=tab-content1] .text-editor-block .save-text-editor {
    padding: 8px 15px;
    background: #3A8BDF;
    color: #fff !important;
    border: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Asap', sans-serif;
    border-radius: 0 !important;
    box-shadow: none !important;
}
[id^=tab-content1] .text-editor-block .cancel-text-editor:hover,
[id^=tab-content1] .text-editor-block .save-text-editor:hover {
    background: #D3DADD;
    color: #3A8BDF;
    text-decoration: none;
    cursor: pointer;
}
[id^=tab-content1] .text-editor-block textarea.editing-text {
    background: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    min-height: 100px;
    margin: 15px 0 0 0;
    width: 96%;
    color: #2E343B;
    border: 1px solid #D3DADD;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Asap', sans-serif;
}
[id^=tab-content1] .text-block label  {
    color: #2E343B;
    width: 45%;
    float: left;
    margin: 10px 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Cantarell', sans-serif;
    text-transform: capitalize !important;
}

[id^=tab-text-content4] .text-block label{
    width: 90% !important;
}

/*[id^=tab-content1] .permanent-text-animation label  {
    width: 30%;
}*/

[id^=tab-content1] .text-block .custom-combobox-input {
    border: 1px solid #D3DADD;
    width: 220px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    padding: 4px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Cantarell', sans-serif;
}

[id^=tab-content1] .text-block .os-slider-autocomplete-input,
[id^=tab-content1] .text-block .os-slider-autocomplete-input-anim-start,
[id^=tab-content1] .text-block .os-slider-autocomplete-input-anim-end,
[id^=tab-content3] .animation-manager-block .os-slider-autocomplete-input-anim-slide-start,
[id^=tab-content3] .animation-manager-block .os-slider-autocomplete-input-anim-slide-end,
[id^=tab-content1] .text-block .os-slider-autocomplete-input-anim-permanent,
[id^=tab-content1] .text-block .os-slider-autocomplete-input-anim-hover{
    border: 1px solid #D3DADD;
    width: 217px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    padding: 4px;
    font-size: 14px;
    min-height: 16px;
    height: auto;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Cantarell', sans-serif;
}
[id^=tab-content1] .text-block .custom-combobox-input:focus,
[id^=tab-content1] .text-block .os-slider-autocomplete-input:focus,
[id^=tab-content1] .text-block .os-slider-autocomplete-input-anim-start:focus,
[id^=tab-content1] .text-block .os-slider-autocomplete-input-anim-end:focus,
[id^=tab-content1] .text-block .os-slider-autocomplete-input-anim-permanent:focus,
[id^=tab-content1] .text-block .os-slider-autocomplete-input-anim-hover:focus{
   border: 1px solid #96c1ee;
   outline: none;
   border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}


[id^=tab-content1] .text-block .custom-combobox-toggle,
[id^=tab-content1] .text-block .os-slider-automplete-show-fonts {
    background: #3a8bdf;
    font-size: 15px;
    padding: 3px 10px 4px 10px;
    color: #fff;
}



[id^=tab-content1] .text-block .os-slider-automplete-show-anim-start,
[id^=tab-content1] .text-block .os-slider-automplete-show-anim-end,
[id^=tab-content1] .text-block .os-slider-automplete-show-anim-permanent,
[id^=tab-content1] .text-block .os-slider-automplete-show-anim-hover {
    background: #3a8bdf;
    font-size: 15px;
    padding: 3px 5px 4px 5px;
    color: #fff;
}

[id^=tab-content1] .text-block .custom-combobox-toggle:hover,
[id^=tab-content1] .text-block .os-slider-automplete-show-fonts:hover,
[id^=tab-content1] .text-block .os-slider-automplete-show-anim-start:hover,
[id^=tab-content1] .text-block .os-slider-automplete-show-anim-end:hover,
[id^=tab-content1] .text-block .os-slider-automplete-show-anim-permanent:hover,
[id^=tab-content1] .text-block .os-slider-automplete-show-anim-hover:hover {
    background: #D3DADD;
    text-decoration: none;
    color: #3a8bdf;
    cursor:pointer;
}
[id^=tab-content1] ul.os-slider-autocomplete-avaible-fonts,
[id^=tab-content1] ul.os-slider-autocomplete-avaible-anim-start,
[id^=tab-content1] ul.os-slider-autocomplete-avaible-anim-end,
[id^=tab-content1] ul.os-slider-autocomplete-avaible-anim-permanent,
[id^=tab-content1] ul.os-slider-autocomplete-avaible-anim-hover {
    list-style: none;
    margin: 0;
    background: white;
}
[id^=tab-content1] ul.os-slider-autocomplete-avaible-fonts li.os-slider-autocomplete-font,
[id^=tab-content1] ul.os-slider-autocomplete-avaible-anim-start li.os-slider-autocomplete-anim-start,
[id^=tab-content1] ul.os-slider-autocomplete-avaible-anim-end li.os-slider-autocomplete-anim-end,
[id^=tab-content3] ul.os-slider-autocomplete-avaible-anim-slide-start li.os-slider-autocomplete-anim-slide-start,
[id^=tab-content3] ul.os-slider-autocomplete-avaible-anim-slide-end li.os-slider-autocomplete-anim-slide-end,
[id^=tab-content1] ul.os-slider-autocomplete-avaible-anim-permanent li.os-slider-autocomplete-anim-permanent,
[id^=tab-content1] ul.os-slider-autocomplete-avaible-anim-hover li.os-slider-autocomplete-anim-hover {
    color:#2E343B;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}
[id^=tab-content1] ul.os-slider-autocomplete-avaible-fonts li.os-slider-autocomplete-font:hover,
[id^=tab-content1] ul.os-slider-autocomplete-avaible-anim-start li.os-slider-autocomplete-anim-start:hover,
[id^=tab-content1] ul.os-slider-autocomplete-avaible-anim-end li.os-slider-autocomplete-anim-end:hover,
[id^=tab-content1] ul.os-slider-autocomplete-avaible-anim-permanent li.os-slider-autocomplete-anim-permanent:hover,
[id^=tab-content1] ul.os-slider-autocomplete-avaible-anim-hover li.os-slider-autocomplete-anim-hover:hover,
[id^=tab-content3] ul.os-slider-autocomplete-avaible-anim-slide-start li.os-slider-autocomplete-anim-slide-start:hover,
[id^=tab-content3] ul.os-slider-autocomplete-avaible-anim-slide-end li.os-slider-autocomplete-anim-slide-end:hover{
    background: #D3DADD;
}


[id^=tab-content1] .text-block {
    border-top: 1px solid #D3DADD;
    padding: 3px 0;
}
[id^=tab-content1] .weight-font {
    padding: 10px 0 0 0;
}
[id^=tab-content1] .weight-font label {
    margin: 5px 0;
}
[id^=tab-content1] .weight-font select.text-font-weight-select {
    width: 102px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
     border: 1px solid #D3DADD;
     font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Cantarell', sans-serif;
    background: #fff;
    color: #2E343B;
    margin: 0 0 5px 0;
    height: 30px;
}
[id^=tab-content1] .weight-font select.text-font-weight-select:focus {
    outline: none;
}

[id^=tab-content1] .align-font select.text-align-select {
    width: 102px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
     border: 1px solid #D3DADD;
     font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Cantarell', sans-serif;
    background: #fff;
    color: #2E343B;
    margin: 0 0 5px 0;
    height: 30px;
}
[id^=tab-content1] .align-font select.text-align-select:focus {
    outline: none;
}


[id^=tab-content1] .color-block label {
     margin: 14px 0;
}
[id^=tab-content1] .color-block input {
    width: 125px;
    height: 25px;
    font-size: 14px;
    padding: 0px 5px!important;
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    -o-border-radius: 0!important;
     border: 1px solid #D3DADD;
     margin: 8px 0;
}
[id^=tab-content1] .color-block input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #3a8bdf;
}
[id^=tab-content1] .color-block .minicolors-swatch {
    right: 0 !important;
    top: 10px;
    width: 25px;
    height: 25px;
     border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}
[id^=tab-text-content2] .font-type,
[id^=tab-text-content2] .anim-type, {
    padding-bottom: 10px;
}

[id^=dragable-settings-block] .existing-text {
    margin: 15px 0 0 0;
    font-size: 12px;
    padding: 5px 5px 7px 5px;
    margin: 15px 0 0 0;
    color: #444B54;
}
[id^=dragable-settings-block] .existing-text .slide-text-data a {
    padding: 5px 10px 7px 10px;
    background: #3A8BDF;
    color: #fff;
    margin: 0 5px 0 0;
}
[id^=dragable-settings-block] .existing-text .slide-text-data {
    margin: 5px 0 0 0;
}
[id^=dragable-settings-block] .existing-text .slide-text-data:hover {
    background: #fff;
}
[id^=dragable-settings-block] .existing-text .slide-text-data a:hover {
    cursor: pointer;
    background: #D3DADD;
    color: #3A8BDF;
}
/*---------------------------checkbox--------------------------*/
[id^=dragable-settings-block] .checkbox-block {
    width: 100px;
    position: relative;
    margin: 6px 0 0 0;
}
[id^=dragable-settings-block] .slider-direction {
    width: 160px;
}
[id^=dragable-settings-block] .checkbox-block label {
    margin: 0;
    font-size: 16px;
    color: #89939D;
    padding: 6px 0;
}
[id^=dragable-settings-block] .checkbox-block {
    position: relative;
    display: inline-block;
    border: none;
    background: #fff;
    text-decoration: none;
    overflow: hidden;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-tap-highlight-color: transparent;
}
[id^=dragable-settings-block] .checkbox-block > input[type='checkbox'] ~ label {
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    -webkit-transition-duration: 0;
    transition-duration: 0;
}
[id^=dragable-settings-block] .checkbox-block > input[type='checkbox'] ~ label:before {
    opacity: 0;
}
[id^=dragable-settings-block] .checkbox-block > input:disabled:nth-child(1) ~ label:nth-of-type(1) {
    opacity: 0.3;
    cursor: not-allowed;
}
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:nth-of-type(1):after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:nth-of-type(1):before {
    opacity: 1;
}
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):before,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:before {
    left: 0%;
}
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):before,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before {
    left: 0%;
}
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3):after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3):before,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
  left: 0%;
}

[id^=dragable-settings-block] .checkbox-block > input:disabled:nth-child(2) ~ label:nth-of-type(2) {
    opacity: 0.3;
    cursor: not-allowed;
}
[id^=dragable-settings-block] .checkbox-block > input:nth-child(2):checked ~ label:nth-of-type(2):after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(2):checked ~ label:nth-of-type(2):before {
    opacity: 1;
}
[id^=dragable-settings-block] .checkbox-block > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):before,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before {
    left: 50%;
}
[id^=dragable-settings-block] .checkbox-block > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3):after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3):before,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
  left: 33.33333%;
}
[id^=dragable-settings-block] .checkbox-block > input:disabled:nth-child(3) ~ label:nth-of-type(3) {
  opacity: 0.3;
  cursor: not-allowed;
}
[id^=dragable-settings-block] .checkbox-block > input:nth-child(3):checked ~ label:nth-of-type(3):after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(3):checked ~ label:nth-of-type(3):before {
  opacity: 1;
}
[id^=dragable-settings-block] .checkbox-block > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3):after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3):before,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after,
[id^=dragable-settings-block] .checkbox-block > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
  left: 66.66667%;
}
[id^=dragable-settings-block] .checkbox-block > label {
    display: inline-block;
    cursor: pointer;
    float: left;
    font-style: inherit;
    -moz-transition-property: none;
    -o-transition-property: none;
    -webkit-transition-property: none;
    transition-property: none;
    -moz-transition-duration: inherit;
    -o-transition-duration: inherit;
    -webkit-transition-duration: inherit;
    transition-duration: inherit;
    -moz-transition-timing-function: inherit;
    -o-transition-timing-function: inherit;
    -webkit-transition-timing-function: inherit;
    transition-timing-function: inherit;
    font-size: 16px;
    line-height: 16px;
    text-transform: lowercase !important;
}
[id^=dragable-settings-block] .checkbox-block > label:before, .checkbox-block > label:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
[id^=dragable-settings-block] .checkbox-block > label:after {
    content: attr(data-value);
    color: white;
    text-align: center;
    padding: inherit;
    z-index: 10;
    font-style: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    opacity: 0;
    -moz-transition-property: opacity, left;
    -o-transition-property: opacity, left;
    -webkit-transition-property: opacity, left;
    transition-property: opacity, left;
    -moz-transition-duration: inherit;
    -o-transition-duration: inherit;
    -webkit-transition-duration: inherit;
    transition-duration: inherit;
    -moz-transition-timing-function: inherit;
    -o-transition-timing-function: inherit;
    -webkit-transition-timing-function: inherit;
    transition-timing-function: inherit;
}
[id^=dragable-settings-block] .checkbox-block > label:after, .checkbox-block > label {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
[id^=dragable-settings-block] .checkbox-block > label:before {
    content: " ";
    background: #3A8BDF;
    -moz-transition-property: left;
    -o-transition-property: left;
    -webkit-transition-property: left;
    transition-property: left;
    -moz-transition-duration: inherit;
    -o-transition-duration: inherit;
    -webkit-transition-duration: inherit;
    transition-duration: inherit;
    -moz-transition-timing-function: inherit;
    -o-transition-timing-function: inherit;
    -webkit-transition-timing-function: inherit;
    transition-timing-function: inherit;
}

[id^=dragable-settings-block] .checkbox-block > label:first-of-type:nth-last-of-type(2),
[id^=dragable-settings-block] .checkbox-block > label:first-of-type:nth-last-of-type(2):after,
[id^=dragable-settings-block] .checkbox-block > label:first-of-type:nth-last-of-type(2):before,
[id^=dragable-settings-block] .checkbox-block > label:first-of-type:nth-last-of-type(2) ~ label,
[id^=dragable-settings-block] .checkbox-block > label:first-of-type:nth-last-of-type(2) ~ label:after,
[id^=dragable-settings-block] .checkbox-block > label:first-of-type:nth-last-of-type(2) ~ label:before {
  width: 50%;
}
[id^=dragable-settings-block] .checkbox-block > label:first-of-type:nth-last-of-type(3),
[id^=dragable-settings-block] .checkbox-block > label:first-of-type:nth-last-of-type(3):after,
[id^=dragable-settings-block] .checkbox-block > label:first-of-type:nth-last-of-type(3):before,
[id^=dragable-settings-block] .checkbox-block > label:first-of-type:nth-last-of-type(3) ~ label,
[id^=dragable-settings-block] .checkbox-block > label:first-of-type:nth-last-of-type(3) ~ label:after,
[id^=dragable-settings-block] .checkbox-block > label:first-of-type:nth-last-of-type(3) ~ label:before {
  width: 33.33333%;
}
[id^=dragable-settings-block] .checkbox-block {
    display: block;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

/*--------------------------button-save------------------------*/
[id^=dragable-settings-block] .button-save {
    position: absolute;
    top: 52px;
    right: -80px;
    padding: 10px;
    background: #222D32;
}

[id^=save-settings] {
    background: #3a8bdf !important;
    padding: 5px 15px !important;
    color: #fff;
    font-size: 14px !important;
    line-height: 16px !important;
    font-weight: 400;
    font-family: 'Asap', sans-serif;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: none !important;
    text-transform: none !important;
    width: 100% !important;
    text-align: center;
}
[id^=save-settings]:hover {
    background: #333 !important;
    outline: 1px solid #fff !important;
    color: #fff;
}

[id^=add-new-images] {
    background: #F39C12;
    padding: 5px 8px;
    margin-top: 10px;
    color: #222D32;
    font-weight: 400;
    border: none;
}
[id^=add-new-images]:hover {
    background: #fcfff4;
    color: #F39C12;
}
/*==================IMAGES SETTINGS===================*/

/*-------------------------images--------------------------*/
[id^=os-tabs] .existing-images {
    // overflow-y: scroll;
    max-height: 325px;
}
[id^=dragable-settings-block] .existing-images .slider-images {
    width: 50%;
    float: left;
}
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block {
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
    width: 150px;
    height: 100px;
}
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block .delete-current-image {
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background: #444B54;
    padding: 2px 9px;
    font-size: 18px;
}
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block .edit-current-image,
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block .copy-current-image,
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block .replace-current-image {
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background: #3A8BDF;
}
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block .copy-current-image i,
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block .replace-current-image i,
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block .delete-current-image i,
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block .edit-current-image i {
    color: #fff;
}
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block .delete-current-image {
    right: -25px;
    top: 0;
}
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block .edit-current-image {
    bottom: -35px;
    left: 0;
    padding: 13px 15px 13px 16px;
}
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block .copy-current-image {
    bottom: -35px;
    left: 51px;
    padding: 13px 14px;
}
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block .replace-current-image {
    bottom: -35px;
    right: 0;
    padding: 13px;
}
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block:hover .copy-current-image,
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block:hover .replace-current-image,
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block:hover .delete-current-image,
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block:hover .edit-current-image {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    opacity: 1;
}

[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block:hover img {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    opacity: 0.3;
}

[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block:hover .edit-current-image,
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block:hover .copy-current-image,
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block:hover .replace-current-image {
    bottom: 0;
}
[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block:hover .delete-current-image {
    right: 0px;
}
/*--------------------------------effect block-------------------------------------------*/
[id^=os-tabs] [id^=tab-content3] .animation-manager-block,
[id^=os-tabs] .text-settings .text-animation-manager-block {
    height: 300px;
    overflow-y: scroll;
    margin: 10px;
}
/*[id^=os-tabs] [id^=tab-content3] .animation-manager-block .start-slide-animation,
[id^=os-tabs] .text-settings .text-animation-manager-block .start-text-animation,
[id^=os-tabs] .text-settings .text-animation-manager-block .end-text-animation,
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .end-slide-animation {
    width: 50%;
    display: inline-block;
    text-align: center;
    float: left;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}*/
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .start-slide-animation label,
[id^=os-tabs] .text-settings .text-animation-manager-block .start-text-animation label,
[id^=os-tabs] .text-settings .text-animation-manager-block .end-text-animation label,
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .end-slide-animation label {
    color: #2E343B;
    width: 40%;
    float: left;
    margin: 10px 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Cantarell', sans-serif;
    text-transform: capitalize !important;
}
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .start-slide-animation label i,
[id^=os-tabs] .text-settings .text-animation-manager-block .start-text-animation label i,
[id^=os-tabs] .text-settings .text-animation-manager-block .end-text-animation label i,
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .end-slide-animation label i {
    color: #3A8BDF;
    padding: 0 0 0 10px;
}
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .start-slide-animation .start-animation-selected i,
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .start-slide-animation .start-animations i,
[id^=os-tabs] .text-settings .text-animation-manager-block .start-text-animation .start-animation-selected i,
[id^=os-tabs] .text-settings .text-animation-manager-block .start-text-animation .start-animations i,
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .end-slide-animation .end-animation-selected i,
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .end-slide-animation .end-animations i,
[id^=os-tabs] .text-settings .text-animation-manager-block .end-text-animation .end-animation-selected i,
[id^=os-tabs] .text-settings .text-animation-manager-block .end-text-animation .end-animations i{
    color: #3A8BDF;
}
[id^=os-tabs] [id^=tab-content3] .animation-manager-block label.start-animation-selected-list,
[id^=os-tabs] .text-settings .text-animation-manager-block label.start-animation-selected-list,
[id^=os-tabs] .text-settings .text-animation-manager-block label.end-animation-selected-list,
[id^=os-tabs] [id^=tab-content3] .animation-manager-block label.end-animation-selected-list{
    background: #2E343B;
    color: #3A8BDF;
}
[id^=os-tabs] [id^=tab-content3] .animation-manager-block label.start-animation-selected-list:hover,
[id^=os-tabs] .text-settings .text-animation-manager-block label.start-animation-selected-list:hover,
[id^=os-tabs] .text-settings .text-animation-manager-block label.end-animation-selected-list:hover,
[id^=os-tabs] [id^=tab-content3] .animation-manager-block label.end-animation-selected-list:hover {
    background: #89939D;
    color: #2E343B;
}
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .end-animations label,
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .during-animations label,
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .start-animations label,
[id^=os-tabs] .text-settings .text-animation-manager-block .start-animations label,
[id^=os-tabs] .text-settings .text-animation-manager-block .during-animations label,
[id^=os-tabs] .text-settings .text-animation-manager-block .end-animations label{
    background: #89939D;
    color: #2E343B;
    border-bottom: 1px solid #fff;
}
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .end-animations label:hover,
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .during-animations label:hover,
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .start-animations label:hover,
[id^=os-tabs] .text-settings .text-animation-manager-block .end-animations label:hover,
[id^=os-tabs] .text-settings .text-animation-manager-block .during-animations label:hover,
[id^=os-tabs] .text-settings .text-animation-manager-block .start-animations label:hover{
    background: #2E343B;
    color: #3A8BDF;
    border-bottom: 1px solid #fff;
}
/*[id^=os-tabs] [id^=tab-content3] .animation-manager-block .start-slide-animation,
[id^=os-tabs] .text-settings .text-animation-manager-block .start-text-animation{
    border: 1px solid #D3DADD;
}*/
[id^=os-tabs] [id^=tab-content3] .animation-manager-block .end-slide-animation,
[id^=os-tabs] .text-settings .text-animation-manager-block .end-text-animation{
    border-top: 1px solid #D3DADD;
    border-right: 1px solid #D3DADD;
    border-bottom: 1px solid #D3DADD;
}
/*------------------------------------effects-------------------------------------*/
[id^=dragable-settings-block] .roundedEffect {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
    margin: 10px 15px 0 15px;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -o-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}
[id^=dragable-settings-block] .roundedEffect .effect-name {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
[id^=dragable-settings-block] .roundedEffect .coverflow {
    left: -18px;
}

[id^=dragable-settings-block] label.effects-label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    padding: 0;
    left: 4px;
    top: 4px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -o-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
}
[id^=dragable-settings-block] label.effects-label:after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #F39C12;
    background: linear-gradient(top, #F39C12 0%, #000 100%);
    background: -webkit-linear-gradient(top, #F39C12 0%, #000 100%);
    background: -moz-linear-gradient(top, #F39C12 0%, #000 100%);
    opacity: 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -o-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}
[id^=dragable-settings-block] label.effects-label:hover:after {
    opacity: 0.3;
}
[id^=dragable-settings-block] label.effects-label:hover {
    top:4px;
}

[id^=dragable-settings-block] .effect {
    visibility: hidden;
}

[id^=dragable-settings-block] .effect:checked + label.effects-label:after {
    opacity: 1;
}
/*-----------------*/

[id^=dragable-settings-block] .during-animations{
    background-color: white;
}

[id^=dragable-settings-block] .slider-image-block{
    display: inline-block;
    position: relative;
}

[id^=os-slider] .image-text,[id^=os-slider] .slide-text{
    position: absolute;
    top:45%;
    left:45%;
    z-index: 99999 !important;
    color: white;
    border-style: solid;
    border-width: 0;
    border-radius: 0;
    border-color: rgb(255, 255, 255);
}

[id^=save-settings].need-save{
    background-color: #F7484E;
}

[id^=dragable-settings-block] .save-first{
    background-color: #F7484E;
}
[id^=dragable-settings-block] .ui-autocomplete {
max-height: 200px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
height: 100px;
}

[id^=ui-id-1]{
    background: white none repeat scroll 0 0;
    display: block;
    left: 391.5px;
    position: absolute;
    top: 899px;
    width: 224px;
    z-index: 9999999 !important;
}
[id^=dragable-settings-block] .important-message,[id^=dragable-settings-block] .important-animation-message {
    color: #F7484E;
    font-size: 14px;
    background: rgba(88, 168, 244, 0.35);
    padding: 3px;
}
[id^=dragable-settings-block] .reset-block {
    padding: 10px;
}
[id^=dragable-settings-block] .reset-block .reset-settings-button {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    background: #F7484E;
    padding: 5px 36px;
    text-decoration: none;
}

[id^=dragable-settings-block] .export-block .export-settings-button,.import-block .import-settings-button {
    font-family: "Cantarell",sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #3A8BDF;
    /*padding: 4px 28px;*/
    display: block;
    width: 100px;
    text-decoration: none;
    text-align: center;
}
[id^=dragable-settings-block] .export-a{
     /*line-height: 30px;*/
     text-decoration: none;
}
[id^=dragable-settings-block] .export-responce, .import-responce{
    font-family: "Cantarell",sans-serif;
    font-size: 16px;
    display: none;
    font-weight: 400;
    color: #fff;
    background: #0E9267 ;
    padding: 4px 28px;
    text-decoration: none;
    text-align: center;
}
[id^=dragable-settings-block] .export-responce:hover, .import-responce:hover{
/*    background: #0E9267 ;*/
    text-decoration: none;
    cursor: pointer;
}
[id^=dragable-settings-block] .export-block .export-settings-button:hover, 
                              .import-block .import-settings-button:hover {
    cursor: pointer;
    background: #D3DADD;
    color: #3A8BDF;
}
[id^=dragable-settings-block] .reset-block .reset-settings-button:hover {
    background: #3A8BDF;
    color: #fff;
    text-decoration: none;
}
/*----------------------slider text edit----------------------------*/
[id^=os-slider] .slide-text.ui-draggable-dragging {
    cursor: move;
}
[id^=os-slider] .slide-text.ui-draggable-handle {
    cursor: move;
}

[id^=dragable-settings-block] .lazy-loading .option-title {
    line-height: 21px;
}
[id^=dragable-settings-block] .lazy-loading .option {
    height: 50px;
}
[id^=dragable-settings-block] .lazy-loading .option .checkbox-block,
[id^=dragable-settings-block] .lazy-loading .option .easy-input-reset {
    margin-top: 12px;
}
/*-------------------vertical arrow--------------------------*/
[id^=os-slider-].swiper-container-vertical .swiper-button-next {
    bottom: 0 !important;
    top: auto !important;
    transform: rotate(90deg);
    right: auto;
    left: 48%;
}
[id^=os-slider-].swiper-container-vertical .swiper-button-prev {
    top: 20px !important;
    transform: rotate(90deg);
    right: auto;
    left: 48%;
}
[id^=os-slider-] .slider-effect option {
    color: #2E343B;
}

[id^=dragable-settings-block] .os-slider-autocomplete-avaible-fonts.ul-hidden,
[id^=dragable-settings-block] .os-slider-autocomplete-avaible-anim-start.ul-hidden,
[id^=dragable-settings-block] .os-slider-autocomplete-avaible-anim-end.ul-hidden,
[id^=dragable-settings-block] .os-slider-autocomplete-avaible-anim-slide-start.ul-hidden,
[id^=dragable-settings-block] .os-slider-autocomplete-avaible-anim-slide-end.ul-hidden,
[id^=dragable-settings-block] .os-slider-autocomplete-avaible-anim-permanent.ul-hidden,
[id^=dragable-settings-block] .os-slider-autocomplete-avaible-anim-hover.ul-hidden{
    display:none;
}
/*-----------------------select-font-----------------------*/
[id^=dragable-settings-block] .os-slider-autocomplete-input,
[id^=dragable-settings-block] .os-slider-autocomplete-input-anim-start,
[id^=dragable-settings-block] .os-slider-autocomplete-input-anim-end,
[id^=dragable-settings-block] .os-slider-autocomplete-input-anim-slide-start,
[id^=dragable-settings-block] .os-slider-autocomplete-input-anim-slide-end,
[id^=dragable-settings-block] .os-slider-autocomplete-input-anim-permanent,
[id^=dragable-settings-block] .os-slider-autocomplete-input-anim-hover {
    height: 25px;
    padding: 0px 5px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border: 1px solid #D3DADD;
    margin: 8px 0;
}

.slider-load-background{
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 99999999999 !important;
}
.os-slider-spinner {
  margin: 35% auto 0;
  width: 70px;
  text-align: center;
}

.os-slider-spinner > div {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.os-slider-spinner .bounce1 {
  background: #F7484E;
}
.os-slider-spinner .bounce2 {
  background: #F39C12;
}
.os-slider-spinner .bounce3 {
  background: #f1f1f1;
}

.os-slider-spinner .bounce3 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.os-slider-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}



/*-------------------------------------------slider-head------------------------------------------------*/
[id^=dragable-settings-block]  {
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    z-index: 99999999999 !important;
}
[id^=dragable-settings-block] .slider-head  {
    background: #2E343B;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
}
[id^=dragable-settings-block] .slider-head .slider-head-title {
    text-align: center;
    color: #fff !important;
    margin: 0 !important;
    font-size: 25px !important;
    line-height: 45px !important;
    padding-left: 40px;
}
[id^=dragable-settings-block] .slider-head .slider-head-title a .update-image {
    width:25px;
    height: 25px;
    float: right;
     margin: 8px;
}
[id^=dragable-settings-block] .slider-head .slider-head-title a{
    color: #fff !important;
}
[id^=dragable-settings-block] .slider-head .slider-head-title a:hover{
    color: #3a8bdf !important;
    text-decoration: none;
}
[id^=dragable-settings-block] .slider-head .slider-head-title .update-image{
    width:10%;
}
[id^=dragable-settings-block] .copyright-block {
    position: absolute;
    text-align: center;
    background: #2E343B;
    color: #fff;
    padding:5px;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(138,138,138,1);
    -moz-box-shadow: 0px 2px 5px 2px rgba(138,138,138,1);
    box-shadow: 0px 2px 5px 2px rgba(138,138,138,1);
    width: 350px;
    box-sizing: border-box;
}
[id^=dragable-settings-block] .copyright-block .copyright-link,
[id^=dragable-settings-block] .copyright-block span {
    color: #fff;
}
[id^=dragable-settings-block] .copyright-block .copyright-link:hover {
    color: #3A8BDF;
    text-decoration: none;
}

div[id^="os-slider"] .slide-image{
    height: 100%;
    width: 100%;
}

/*--------------------------------------width - height options---------------------------------*/
[id^=dragable-settings-block] [id^=is_width_in_pixels-block-],
[id^=dragable-settings-block] [id^=width-percentage-block-] {
    width: 62%;
    display: inline-block;
    float: left;
}
[id^=dragable-settings-block] [id^=is_height_in_pixels-block-],
[id^=dragable-settings-block] [id^=height-percentage-block-] {
    width: 62%;
    display: inline-block;
    float: left;
}
[id^=dragable-settings-block] .option-block .checked-width {
    width: 38%;
    display: inline-block;
    text-align: right;
}
[id^=dragable-settings-block] .option-block .checked-height {
    width: 38%;
    display: inline-block;
    text-align: right;
}
[id^=dragable-settings-block] .option-block .checked-width .checkbox-block {
    display: inline-block;
}
[id^=dragable-settings-block] .option-block .checked-height .checkbox-block {
    display: inline-block;
}
[id^=dragable-settings-block] .check-auto {
    height: 35px;
}
[id^=dragable-settings-block] .check-auto .option-title {
    width: 50%;
}

[id^=dragable-settings-block] .check-cover {
    height: 35px;
}
[id^=dragable-settings-block] .check-cover .option-title {
    width: 50%;
}

[class^=custom_slide] {
  background: #3a8bdf;
  border: none;
  border-radius: 3px;
  padding: 4px 10px 1px  10px;
  margin-bottom: 3px;
  font-size: 15px;
  color: #fff;
  font-family: 'Cantarell', sans-serif;
  line-height: 25px;
}


/*---------------------uplouder-------------------*/

[id^=dragable-settings-block] .tab-content [id^=fine-uploader] .qqsl-uploader {
    overflow: visible !important;
    min-height: 100px !important;
    padding: 15px !important;
    -webkit-border-radius: 3px !important;
            border-radius: 3px !important;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
[id^=dragable-settings-block] .tab-content [id^=fine-uploader] .qqsl-uploader:before {
    font-size: 20px;
    color: #000;
    top: 60%;
}
[id^=dragable-settings-block] .tab-content [id^=fine-uploader] .qqsl-uploader .qqsl-upload-button {
    width: 100%;
    background: #3a8bdf !important; 
    -webkit-border-radius: 3px !important;
            border-radius: 3px !important;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    border: none;
}

/*------------------------Text Effect-------------------------*/
div[id^="os-slider"] .slide-text:not([data-text-start-time]),
div[id^="os-slider"] .slide-text[data-text-start-time='0'],
div[id^="os-slider"] .slide-text[data-text-start-time='']{
    opacity: 1!important;
}


/*----------------------Text Editor----------------------*/
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-time-block .image-full-time ,
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-link-block .image-link ,
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-filter-block .image-filter,
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-background-block .image-background {
    color: #2E343B;
    font-family: 'Cantarell', sans-serif;
    font-size: 14px;
    display: block;
    text-align: center;
    margin: 10px 0;
}



div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-time-block .image-full-time .time-input ,
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-link-block .image-link .image-link ,
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-filter-block .image-filter .filter-select,
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-background-block .image-background .background-input {
    margin: 0 0 0 15px;
}


div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .text-styling-block {
    height: 100px;
}
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .slide-text-data {
    position: relative;
}

div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .slide-text-data .text-time-start-input,
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .slide-text-data .text-time-end-input {
    width: 55px;
}
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .slide-text-data .text-line {
    padding: 5px 10px;
}
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .slide-text-data .os_icon-help-circled {
    position: absolute;
    color: red;
    font-size: 18px;
    top: 7px;
    right: 7px;
    width: 17px;
    //overflow: hidden;
    height: 17px;
    opacity:0;
    pointer-events:none;
}
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .slide-text-data .os_icon-help-circled:hover {
    cursor: pointer;
}
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .slide-text-data .os_icon-help-circled:hover .text-helper {
    display: block;
    top: -10px;
    right: 30px;
    width: 220px;
    height: 20px;
    background: #2E343B;
    color: #89939D;
    padding: 8px;
}
div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .slide-text-data .os_icon-help-circled .text-helper {
    position: absolute;
    display: none;
    font-size: 14px;
}
/*---------------------------------FREE CSS BLOCK-------------------------------*/
.oss-pro-avaible, .oss-pro-avaible *{
    color: red!important;
    background-color: gray!important;
    cursor: not-allowed!important;
}
.all-in-pro{
    display: inline-block;
    font-size: 12px!important;
    line-height: 12px!important;
    color: #fff !important;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.all-in-pro a{
    color: #fff !important;
}

.all-in-pro a:hover{
    color: #3a8bdf !important;
    text-decoration: none;
}

.ordasoft-copyright{
    text-align: center;
    width: 100%;
    font-family: "Roboto";
}
/*---------------------------------FREE CSS BLOCK (part 2)-------------------------------*/
.text-block.padding-block .css_settings label {
    width: 62%;
    margin: 2px 0;
}
.text-block.padding-block .css_settings .settings_input {
    float: left;
    width: 25%;
}
.text-block.padding-block .css_settings .settings_input input {
    width: 62px !important;
}
.shadow_settings {
    overflow: hidden;
    border-top: 1px solid #D3DADD;
    padding: 3px 0;
}
.shadow_settings input {
    width: 80px !important;
}
.shadow_settings label {
    color: #2E343B;
    // width: 79%;
    float: left;
    margin: 2px 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Cantarell', sans-serif;
    text-transform: capitalize !important;
}
.shadow_settings .shadow_settings_input {
    float: left;
    width: 33%;
}

a.os-slider-automplete-show-anim-slide-start,
a.os-slider-automplete-show-anim-slide-end {
    background: #3a8bdf;
    font-size: 15px;
    padding: 3px 10px 4px 10px;
    color: #fff;
}

a.os-slider-automplete-show-anim-slide-start:hover,
a.os-slider-automplete-show-anim-slide-end:hover {
    background: #D3DADD;
    text-decoration: none;
    color: #3a8bdf;
    cursor:pointer;
}

[id^=dragable-settings-block] .animation-manager-block .start-slide-animation,
[id^=dragable-settings-block] .animation-manager-block .end-slide-animation {
    border-top: 1px solid #D3DADD;
    padding: 3px 0;
}

[id^=dragable-settings-block] .os-slider-autocomplete-avaible-anim-slide-start,
[id^=dragable-settings-block] .os-slider-autocomplete-avaible-anim-slide-end {
    list-style: none;
    margin: 0;
    background: white;
}

[id^=dragable-settings-block] .timeLabel{
    font-size: 14px;
    color: black;
    word-wrap: normal !important;
}

.fit-contain img{
    object-fit:contain !important;
}

.fit-fill img{
    object-fit:fill !important;
}

.fit-cover img{
    object-fit:cover !important;
}

[id^=dragable-settings-block] .existing-images .slider-images .slider-image-block a:hover {
    background: #444B54;
    color: #3A8BDF;
    text-decoration: none;
    cursor: pointer;
}

[id^=dragable-settings-block] .slide-text-data .icon-menu{
    margin-left: 5px !important;
    margin-right: 2px !important;
}

.os-slider-container{  
  position: relative;
}

[id^=os-slider] .slide-text{
    box-sizing: border-box;
}



.custom_slide_wrap  .minicolors-theme-bootstrap.minicolors-position-right .minicolors-swatch{
    width: 23px;
    height: 23px;
}

.custom_slide_wrap  .minicolors-theme-bootstrap.minicolors-position-right .minicolors-swatch:hover{
    cursor: pointer;
}

.custom_slide_wrap  .minicolors{
    display: inline-block;
    left: 10px;
    bottom: 2px;
}

.custom_slide_wrap .minicolors-theme-bootstrap.minicolors-position-right .minicolors-input{
    padding: 15px;
}

/*.slide-image{
  -webkit-filter: contrast(1.1) brightness(1.1) saturate(1.3);
    filter: contrast(1.1) brightness(1.1) saturate(1.3);

}*/
.info_block{
  font-size: 18px;
  margin-left: 10px;
  margin-right: 5px;
  color: #3a8bdf;
  vertical-align: middle;
}

.info_block:hover{
  cursor: pointer;
}

/*div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .filter-select .image-filter{
    width: 140px;
}

div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-background-block .image-background{
    width: 140px;
}*/

/*div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-background-block 
.image-background 
.background-input {
   
}*/

div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-background-block .image-background .background-input{
    width: 98px;
}

div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-background-block .minicolors{
    display: inline;
}

div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-background-block .minicolors .minicolors-swatch{
    left: auto;
    right: 3px;
    width: 21px;
    height: 21px;
    top: -1px;
}

div[id^="dragable-settings-block"] div[id^="tab-content1-"] div[id^="text-content-"] .image-background-block .minicolors .minicolors-swatch:hover{
    cursor: pointer;
}



/*--------  2019.08.27 -------------*/
[id^=os-tabs] input[type="text"] {
    width: 166px;
    margin: 5px 0;
    padding: 0 5px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Cantarell', sans-serif;
    min-height: 28px;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border: 1px solid #D3DADD;
}
/*--------  2019.12.12 -------------*/
[id^=os-tabs] .text-block.color-block input[type="text"] {
    width: 125px;
}
[id^=tab-content1] .text-block.color-block .minicolors-swatch {
    top: 7px;
}
.tab-edit-text .text-block.padding-block .css_settings label,
[id^=os-text-tabs] .text-settings .shadow_settings {
    width: 100%;
}
[id^=os-text-tabs] .text-settings .text-label {
    max-height: 34px;
}
[id^=os-text-tabs] .text-settings:last-child [id^=text-label ] {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* tabs style */
[id^=os-text-tabs] .text-settings .text-label {
    margin: 0 2px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
[id^=os-text-tabs] .text-settings:last-child .text-label {
    margin: 0;
}
[id^=os-text-tabs] [id^=tab-text]:checked +.text-label {
    background: #fff;
    color: #333;
    z-index: 9;
}
[id^=dragable-settings-block] .tab-text-content {
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    top: 48px;
    -webkit-box-shadow: 0px 2px 9px #ccc;
    box-shadow: 0px 2px 9px #ccc;
}
[id^=tab-content1] .text-editor-block {
    padding: 0;
    margin: 0;
}
.tab-text-content .text-block.font-type .os-slider-autocomplete-input,
[id^=tab-content1] .text-block .os-slider-autocomplete-input-anim-start,
[id^=tab-content1] .text-block .os-slider-autocomplete-input-anim-end,
[id^=tab-content1] .text-block .os-slider-autocomplete-input-anim-permanent, 
[id^=tab-content1] .text-block .os-slider-autocomplete-input-anim-hover {
    width: 200px;
    box-sizing: border-box;
}
.tab-text-content .shadow_settings label {
    width: 85%;
}
.text-block.padding-block .css_settings .settings_input input {
    width: 50px !important;
}
.text-block.padding-block + .text-block label {
    width: 50%;
}
.text-block.padding-block + .text-block .text-block-width {
    width: 50px;
}
[id^=tab-text-content3] .text-block:first-child {
    border: none;
}